<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>loginSuccess-admin</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/all.css">

</head>

<body>
    <header class="title text-center mt-32 text-3xl">
        管理員你好，以下為所有會員
    </header>
    <section class="menu-container container text-center mt-10 mx-auto my-0">
        <table class="w-full">
            <tr class="menu menu-title">
                <td class="item">會員</br>id</td>
                <td class="item">帳號名稱 </br>username</td>
                <td class="item">暱稱</br>nickname</td>
                <td class="item">電子郵件</br>Email</td>
                <td class="item">性別</br> gender</td>
                <td class="item">會員層級</br>role</td>
                <td class="item">刪除會員</td>
            </tr>

            <tr class="menu" th:each="user: ${userList}">
                <td class="item" th:text="${user.id}">2</td>
                <td class="item"th:text="${user.username}">emma</td>
                <td class="item" th:text="${user.nickname}">艾瑪</td>
                <td class="item" th:text="${user.email}">emma@gmail.com</td>
                <td class="item" th:text="${user.gender}">女</td>
                <td class="item" th:text="${user.roleName}">一般使用者</td>
                <td class="item">
                    <a class="btn btn-danger" th:href="@{/del(userId=${user.id})}"> delete </a>

                </td>
            </tr>
        </table>
    </section>

    </table>

    <form class="mt-8" method="get" action="/toLogout">
        <!-- <input type="submit" value="登出"> -->
        <button class="btn btn-logout mx-auto" type="submit">登出</button>
    </form>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
</body>

</html>