<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/all.css">
</head>

<body>
    <header class="title text-center mt-32 text-5xl">
        登入
    </header>
    <section class="login menu-container text-center mt-10 mx-auto my-0">
        <div class="message text-center" th:text="${data}">
            </div>

        <form method="post" action="/dologin">
            <table class="menu mx-auto">
                <tr>
                    <td class="item-title text-right">帳戶名稱：</td>
                    <td class="inputContent"><input type="text" name="username" placeholder="請輸入帳戶名稱" required />
                    </td>
                </tr>

                <tr>
                    <td class="item-title text-right">密碼：</td>
                    <td class="inputContent"><input  type="password" name="password" placeholder="請輸入帳戶密碼" required />
                    </td>
                </tr>

            </table>
            <button class="btn btn-login" type="submit">登入</button>
        </form>
        <form  method="get" action="/register.html">
            <input class="btn btn-register" type="submit" value="註冊">
        </form>
    </section>

</body>

</html>