<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/all.css">
    
</head>
<body>
    <table >
        <tr>
            <td>用戶名稱</td>
            <td>性別</td>
            <td>電話</td>
            <td class="address">地址</td>
        </tr>
    <table class="menu">
        <tr >
            <td>小小</td>
            <td>女</td>
            <td>0930</td>
            <td class="address">台北市</td>
        </tr>
    </table>

    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="/js/all.js"></script>
</body>
</html>
