
.register{
    max-width:600px;
    font-size: 23px;
    .item-title {
     padding: 10px;
     
    }
    .inputContent>input{
     color:#000;
    }
 
    .input-gender{
     width: 30px;
     height: 20px;
     margin-right: 6px;
    }
    .btn.btn-login{
        background-color:#6600ea;
    }
    
 }
 